.footer{
    width: 100%;
    margin-top: 2rem;
    height: 320px;
    box-shadow: 0 0 1rem 0.2rem rgba(0,0,0,0.1);
    background-color: rgba(175, 174, 173, 0.1);
}
.footer .row{
    margin-left: 0;
    margin-right: 0;
}
.footer_item{
    margin-top: 2rem;
    height: 100%;
}
.footer_item h6,
.footer_item p,
.footer_item li,
.footer_item form{
    padding: 1rem;
    font-size: 2rem;
}

.footer_item form input{
    padding: 1rem;
    border: 0;
    box-shadow: 0 0 0 0.1rem rgb(0 0 0 / 10%);
    border-radius: 5px;
    outline: none;
}
.footer_item form button{
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #fff;
    outline: none;
    background-color:  rgb(14, 199, 137);
}
.footer_item .logo{
    font-size: 5rem;
    font-weight: 700;
}
.footer .contact
{
    padding: 1rem;
}
.footer .contact i{
    font-size: 5rem;
    margin-right: 1rem;
}
.footer .contact .icon_facebook{
    color: #3c5b98;
}
.footer .contact .icon_google{
    color: #db4c3e;
}
.footer .contact .icon_twitter{
    color: #1d9bf0;
}